<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>iMovie</title>
    <link rel='stylesheet' href='/reset.css'>
    <link rel='stylesheet' href='/normalize.css'>
    <link rel='stylesheet' href='/style.css'>
  </head>
  <body>
    <%= yield %>
    <footer>
      <ul class="nav">
        <li><a href='/info'>MOVIE INFO</a></li>
        <li><a href='/'>HOME</a></li>
        <li><a href='/poster'>MOVIE POSTER</a></li>
        <li><a href='/movies'>MOVIE LIST</a></li>
      </ul>
    </footer>
  </body>
</html>