<form action='/create_task' method='post'>
  <strong>Task:</strong><br>
  <input type='text' name='task' ><br><br>
  <strong>Description:</strong><br>
  <textarea name='description'></textarea><br><br>
  <button>Submit</button>
</form>
